body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
}

#canvasContainer {
  position: relative;
  display: flex;
  justify-content: center; /* Center the canvases horizontally */
  align-items: center; /* Center the canvases vertically */
  margin-top: 20px;
}

#photoCanvas {
  display: block;
  border: 1px solid #ccc;
  max-width: 60%; /* Set max-width to 50% */
  height: auto; /* Maintain aspect ratio */
}

#faceMeshCanvas {
  position: absolute; /* Overlay on top of #photoCanvas */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset to truly center */
  pointer-events: none; /* Allow interactions with the photo canvas */
  border: 1px solid #ccc;
  max-width: 60%; /* Set max-width to 50% */
  height: auto; /* Maintain aspect ratio */
}

#results {
  margin-top: 20px;
  font-size: 18px;
}

#results p {
  margin: 10px 0;
}

#faceShapePercentages {
  margin-top: 20px;
}

#percentageBars {
  margin-top: 10px;
}

.progress-bar {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 5px 0;
  overflow: hidden;
}

.progress-bar-fill {
  height: 20px;
  background-color: #007bff;
  text-align: center;
  color: white;
  line-height: 20px;
  border-radius: 5px;
}